body {
  background-color: black;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

.selectablekey {
  font-family: Arial;
  font-weight: 600;
  text-decoration: none;
  overflow: auto;
}

.selectablekey:link {
  color: #55eeee;
  overflow: auto;
}

.selectedkey:link {
  color: magenta;
  font-weight: bold;
  overflow: auto;
}

.listofkeys {
  color: black;
}

.box {
  overflow: auto;
  white-space: nowrap;
  border-color: #333333;
  padding: 5px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  height: auto;
  border: 2px solid #333;
  border-radius: 7px;
}

.fileselector {
  background-color: #414c61;
  border-color: #456141;
}

.fileselector:hover {
  background-color: #444;
}
.fileselector:active {
  background-color: #333;
}

.editbutton {
  background-color: #414c61;
  white-space: nowrap;
  color: white;
  box-sizing: border-box;
  border: 2px solid #615641;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.editbutton:hover {
  background-color: #3c4148;
  /* it didnt look right when i had this enabled*/
  /* border-color: #615749; */

}

.editbutton:active {
  background-color: #333;
  border-color: #554e44;
}

.showjsonbutton {
  /* i tested it with this: background-color: #5b4161; then with purple then with red*/
  background-color: #666;
  padding: 4px;
  white-space: nowrap;
  /* attempt1: color: #cabfaf; */
  /* attempt2: color: #d6c2a5; */
  /* attempt3: color: #fff2e0; */
  color: white;
  box-sizing: border-box;
  border: 2px solid #666;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.showjsonbutton:hover {
  background-color: #463c48;
  /* it didnt look right when i had this enabled*/
  /* border-color: #615749; */
}

.showjsonbutton:active {
  background-color: #333;
  border-color: #444;
}
.childrenpath {
  /* i tested it with this: background-color: #f5ac50*/
  background-color: #222;
  padding: 4px;
  /* attempt1: color: #cabfaf; */
  /* attempt2: color: #d6c2a5; */
  /* attempt3: color: #fff2e0; */
  color: #E0992B;
  box-sizing: border-box;
  border: 2px solid #E0992B; /* i tried this color: first #e1472b*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.childrenpath:hover {
  border-color: #ecaa3e;
  /* it didnt look right when i had this enabled*/
  /* border-color: #615749; */
}

.childrenpath:active {
  border-color: #D98A0F;
  color: #dd9220;
  background-color: #1a1a1a;
}
/* i searched up how to do this just to make it clear you cannot interact with the background. i basicallt just copied this from https://css-tricks.com/using-and-styling-the-dialog-element/*/
dialog::backdrop {
  background: #00000050;
  backdrop-filter: blur(5px);
}

/*why would i make a custom class when can just do this(i just learned you do this)*/
#importmenu.drag-over {
  background: #e2e6ea;
  border-color: #0056b3;
}

#Importfromtext {
  color: white;
  height: 25px;
  width: 70px;
  font-size:  15px;
}

#Importfromtext:disabled {
  background-color: #363a42;
  color: grey;
  border-color: #706347;
}

#beutifyimportjson {
  color: white;
}

#beutifyimportjson:disabled {
  background-color: #363a42;
  color: grey;
  border-color: #706347;
}

#testingthedragovermenu {
  pointer-events: none;
}
#testingthedragovermenu:popover-open {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
  background-color: blue;
  font-size: 20px;
  font-weight: bold
  font-family: 'Comic Sans MS', cursive;
}

.editbutton:focus {
  border-color: #FF9D3B;
  outline: none;
}
/*gee i sure hope this lets me change things*/
#whatdesctoshow, #whatdesctoshow::picker(select) {
    background-color: #333;
  appearance: base-select;
}

/* i think i gotta name this now...
.test {
  
}
*/
/* ORRRRR i could just put the contents of this in the inner-span's style, because there are like 2 that are defined, total
.test span {
}
*/
#toggle-btn {
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
#toggle-btn:hover {
  transform: rotate(170deg);
}
/*
there is no way i got the correct way to make it only do
something with a class list first try without searching it up
      |
      V
*/
#toggle-btn.shrink:hover {
  transform: rotate(10deg);
}
#toggle-btn.shrink {
  transform: rotate(0deg);
}

#keylisttoolbar {
  display: grid;
  overflow: hidden;
  text-align: center;
  grid-template-rows: 1fr; 
  transition: grid-template-rows 0.5s ease-out, padding 0.5s ease, banana;
  padding-left: 0px;
  padding-right: 0px;
  grid-auto-rows: minmax(0px, auto);
}



#keylisttoolbar.shrink {
  grid-template-rows: 0fr;
  padding-top: 0px;
  padding-bottom: 0px;
}

#keylisttoolbar.hidden {
  display: none;
}


#keylisttoolbaritems {
  min-height: 0px;
}